<div class="container-fluid">
  <br/>
  <h3>Send A Text Message</h3>
  <br/>
  <form>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let user of users; let i = index;">
      <ngb-panel title={{user.userName}}>
        <ng-template ngbPanelContent>
          <div class="input-group input-group-lg">
            <input id="msg" type="text" value={{user.message}} [(ngModel)]="user.message" class="form-control" name="msg" />
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <br/>
    <div>
        <input type="button" class="btn btn-primary btn-lg btn-block" value="Submit" (click)="onSubmit()">
    </div>
  </form>
</div>

