<div class="container-fluid">
  <br/>
  <h3>Customize Message</h3>
  <br/>
  <form>
    <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="static-0">
      <ngb-panel id="static-{{i}}" title={{user.userName}} *ngFor="let user of users; let i = index;">
        <ng-template ngbPanelContent>
          <div class="input-group input-group-lg">
            <input id="msg" type="text" [(ngModel)]="user.message" class="form-control" name="msg" />
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <br/>
    <div>
        <input type="button" class="btn btn-primary btn-lg btn-block" value="Submit" (click)="onSubmit()">
    </div>
    <br/>
  </form>
</div>

